@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
.web-width-container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
.paragraph-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}
.paragraph-width-container {
  max-width: 500px;
}
.product-page-width-container {
  display: flex;
  max-width: 800px;
}
body {
  font-family: "Roboto", Helvetica, sans-serif;
}
.carousel-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 10rem;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-cards {
  position: relative;
  width: 900px;
  height: 500px;
  margin-top: 2.4rem;
}
.carousel-card {
  position: absolute;
  transition: transform 0.4s ease;
  cursor: pointer;
  margin: auto;
}
.carousel-img {
  border-radius: 5px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  /* put card at left */
  #item-1:checked ~ .carousel-cards #carousel-3,
  #item-2:checked ~ .carousel-cards #carousel-1,
  #item-3:checked ~ .carousel-cards #carousel-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  /* put card at right */
  #item-1:checked ~ .carousel-cards #carousel-2,
  #item-2:checked ~ .carousel-cards #carousel-3,
  #item-3:checked ~ .carousel-cards #carousel-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  /* put card in middle */
  #item-1:checked ~ .carousel-cards #carousel-1,
  #item-2:checked ~ .carousel-cards #carousel-2,
  #item-3:checked ~ .carousel-cards #carousel-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }
  #item-1:checked ~ .carousel-cards #carousel-1 img,
  #item-2:checked ~ .carousel-cards #carousel-2 img,
  #item-3:checked ~ .carousel-cards #carousel-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}
@media screen {
  /* put card at left */
  #item-1:checked ~ .carousel-cards #carousel-3,
  #item-2:checked ~ .carousel-cards #carousel-1,
  #item-3:checked ~ .carousel-cards #carousel-2 {
    transform: translatex(-20%) scale(0.7);
    opacity: 0.4;
    z-index: 0;
  }
  /* put card at right */
  #item-1:checked ~ .carousel-cards #carousel-2,
  #item-2:checked ~ .carousel-cards #carousel-3,
  #item-3:checked ~ .carousel-cards #carousel-1 {
    transform: translatex(20%) scale(0.7);
    opacity: 0.4;
    z-index: 0;
  }
  /* put card in middle */
  #item-1:checked ~ .carousel-cards #carousel-1,
  #item-2:checked ~ .carousel-cards #carousel-2,
  #item-3:checked ~ .carousel-cards #carousel-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }
  #item-1:checked ~ .carousel-cards #carousel-1 img,
  #item-2:checked ~ .carousel-cards #carousel-2 img,
  #item-3:checked ~ .carousel-cards #carousel-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}
.product-card {
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
}
.product-card-name {
  overflow: hidden;
  text-overflow: "-";
  white-space: nowrap;
  width: inherit;
  text-align: center;
}
.product-img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}
.product-page-img {
  min-width: 500px;
  min-height: 580px;
  max-width: 500px;
  max-height: 580px;
  object-fit: cover;
}
.cart-container {
  display: flex;
  margin-top: 1.25rem;
  min-width: 700px;
  max-width: 700px;
}
.cart-item {
  width: 100px;
  height: 150px;
  max-width: 100px;
  max-height: 150px;
  object-fit: cover;
  border: 1px solid black;
}
.cart-header {
  border-bottom: 2px solid #d91d5f;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  font-weight: 700;
}
.cart-item-container {
  position: relative;
  width: 75%;
  padding-right: 0.75rem;
}
.order-summary-container {
  width: 25%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.item-num-input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border-top-width: 1px;
  border-bottom-width: 1px;
  text-align: center;
  width: 1.75rem;
  outline: none;
}
nav ul {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .product-grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
    justify-items: center;
  }
  .carousel-container {
    margin-bottom: 0;
    margin-top: 0;
  }
  .carousel-cards {
    width: 600px;
    height: 400px;
  }
  .carousel-img {
    width: 600px;
  }
  .product-page-width-container {
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
  }
  .product-page-img {
    min-width: 300px;
    min-height: 0;
    max-width: 300px;
    max-height: none;
  }
}
@media (max-width: 768px) {
  nav ul {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  nav ul li {
    justify-content: center;
    margin-top: 1rem;
  }
  .web-width-container {
    margin-right: 0;
    margin-left: 0;
  }
  .product-grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
    justify-items: center;
  }
  .paragraph-width-container {
    width: 100%;
    font-size: 14px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }
  .carousel-card {
    left: auto;
    right: auto;
  }
  .cart-container {
    min-width: 0;
    min-height: 0;
    flex-direction: column;
    align-items: center;
  }
  .cart-item-container {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
  }
  .order-summary-container {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
}
@media (max-width: 640px) {
  .product-card {
    width: 100px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1rem;
  }
  .product-card-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .product-img {
    width: 100px;
    height: 150px;
  }
  .carousel-cards {
    width: 300px;
    height: 200px;
    margin-top: 1rem;
  }
  .carousel-img {
    width: 300px;
  }
}
