@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

.web-width-container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.about-width-container {
  max-width: 500px;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}
.carousel-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 10rem;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-cards {
  position: relative;
  width: 900px;
  height: 500px;
  margin-top: 2.4rem;
}
.carousel-card {
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 0.4s ease;
  cursor: pointer;
  margin: auto;
}

.carousel-img {
  border-radius: 10px;
  object-fit: cover;
}

/* put card at left */
#item-1:checked ~ .carousel-cards #carousel-3,
#item-2:checked ~ .carousel-cards #carousel-1,
#item-3:checked ~ .carousel-cards #carousel-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

/* put card at right */
#item-1:checked ~ .carousel-cards #carousel-2,
#item-2:checked ~ .carousel-cards #carousel-3,
#item-3:checked ~ .carousel-cards #carousel-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

/* put card in middle */
#item-1:checked ~ .carousel-cards #carousel-1,
#item-2:checked ~ .carousel-cards #carousel-2,
#item-3:checked ~ .carousel-cards #carousel-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .carousel-cards #carousel-1 img,
#item-2:checked ~ .carousel-cards #carousel-2 img,
#item-3:checked ~ .carousel-cards #carousel-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.product-card{
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.product-img{
  width: 300px;
  height: 350px;
  object-fit: cover;
}
